In [1]:
import pandas as pd

# DATA

The data is downloaded from the Intercensal Survey 2015: http://en.www.inegi.org.mx/programas/intercensal/2015/default.html#Microdatos

Survey characteristics: sample size of 6.1 million homes; information to the national level, states, municipalities, and for each of the towns with 50,000 or more inhabitants, referred to March 15th, 2015.

The data description files are found in:
* Documentation tab --> Classifiers ZIP file: http://en.www.inegi.org.mx/contenidos/programas/intercensal/2015/doc/eic2015_catalogos.zip
* Microdata tab --> File Descriptor (FD) XLS file: http://en.www.inegi.org.mx/contenidos/programas/intercensal/2015/doc/eic2015_fd.xls

In [ ]:
# Execute just for the one time

# Download data: 32 zip files --> 834MB (x10 decompressed, not recommended)
! mkdir data
! wget -P ./data https://www.inegi.org.mx/contenidos/programas/intercensal/2015/microdatos/eic2015_0{1..9}_csv.zip
! wget -P ./data https://www.inegi.org.mx/contenidos/programas/intercensal/2015/microdatos/eic2015_{10..32}_csv.zip

# Data descriptors
! mkdir data_descriptors
! wget -P ./data_descriptors http://en.www.inegi.org.mx/contenidos/programas/intercensal/2015/doc/eic2015_catalogos.zip
! wget -P ./data_descriptors http://en.www.inegi.org.mx/contenidos/programas/intercensal/2015/doc/eic2015_fd.xls

In [3]:
# Each eic2015*.zip file contains two csv's: TR_VIVIENDA*.csv and TR_PERSONA*.csv 
# The information about mobility is in the second one.
# We extract and compress again: 32 zip files --> 605MB (x10 decompressed, not recommended)

# Execute just for the one time
! for z in ./data/*.zip; do unzip $z; rm TR_VIVIENDA*.CSV; mv TR_PERSONA*.CSV data; done
! for z in ./data/*.CSV; do zip $z.zip $z; rm $z; done

Archive:  ./data/eic2015_01_csv.zip
  inflating: TR_PERSONA01.CSV
  inflating: TR_VIVIENDA01.CSV
Archive:  ./data/eic2015_02_csv.zip
  inflating: TR_PERSONA02.CSV
  inflating: TR_VIVIENDA02.CSV
Archive:  ./data/eic2015_03_csv.zip
  inflating: TR_PERSONA03.CSV
  inflating: TR_VIVIENDA03.CSV
Archive:  ./data/eic2015_04_csv.zip
  inflating: TR_PERSONA04.CSV
  inflating: TR_VIVIENDA04.CSV
Archive:  ./data/eic2015_05_csv.zip
  inflating: TR_PERSONA05.CSV
  inflating: TR_VIVIENDA05.CSV
Archive:  ./data/eic2015_06_csv.zip
  inflating: TR_PERSONA06.CSV
  inflating: TR_VIVIENDA06.CSV
Archive:  ./data/eic2015_07_csv.zip
  inflating: TR_PERSONA07.CSV
  inflating: TR_VIVIENDA07.CSV
Archive:  ./data/eic2015_08_csv.zip
  inflating: TR_PERSONA08.CSV
  inflating: TR_VIVIENDA08.CSV
Archive:  ./data/eic2015_09_csv.zip
  inflating: TR_PERSONA09.CSV
  inflating: TR_VIVIENDA09.CSV
Archive:  ./data/eic2015_10_csv.zip
  inflating: TR_PERSONA10.CSV
  inflating: TR_VIVIENDA10.CSV
Archive:  ./data/eic2015_11_csv.zip
  inflating: TR_PERSONA11.CSV
  inflating: TR_VIVIENDA11.CSV
Archive:  ./data/eic2015_12_csv.zip
  inflating: TR_PERSONA12.CSV
  inflating: TR_VIVIENDA12.CSV
Archive:  ./data/eic2015_13_csv.zip
  inflating: TR_PERSONA13.CSV
  inflating: TR_VIVIENDA13.CSV
Archive:  ./data/eic2015_14_csv.zip
  inflating: TR_PERSONA14.CSV
  inflating: TR_VIVIENDA14.CSV
Archive:  ./data/eic2015_15_csv.zip
  inflating: TR_PERSONA15.CSV
  inflating: TR_VIVIENDA15.CSV
Archive:  ./data/eic2015_16_csv.zip
  inflating: TR_PERSONA16.CSV
  inflating: TR_VIVIENDA16.CSV
Archive:  ./data/eic2015_17_csv.zip
  inflating: TR_PERSONA17.CSV
  inflating: TR_VIVIENDA17.CSV
Archive:  ./data/eic2015_18_csv.zip
  inflating: TR_PERSONA18.CSV
  inflating: TR_VIVIENDA18.CSV
Archive:  ./data/eic2015_19_csv.zip
  inflating: TR_PERSONA19.CSV
  inflating: TR_VIVIENDA19.CSV
Archive:  ./data/eic2015_20_csv.zip
  inflating: TR_PERSONA20.CSV
  inflating: TR_VIVIENDA20.CSV
Archive:  ./data/eic2015_21_csv.zip
  inflating: TR_PERSONA21.CSV
  inflating: TR_VIVIENDA21.CSV
Archive:  ./data/eic2015_22_csv.zip
  inflating: TR_PERSONA22.CSV
  inflating: TR_VIVIENDA22.CSV
Archive:  ./data/eic2015_23_csv.zip
  inflating: TR_PERSONA23.CSV
  inflating: TR_VIVIENDA23.CSV
Archive:  ./data/eic2015_24_csv.zip
  inflating: TR_PERSONA24.CSV
  inflating: TR_VIVIENDA24.CSV
Archive:  ./data/eic2015_25_csv.zip
  inflating: TR_PERSONA25.CSV
  inflating: TR_VIVIENDA25.CSV
Archive:  ./data/eic2015_26_csv.zip
  inflating: TR_PERSONA26.CSV
  inflating: TR_VIVIENDA26.CSV
Archive:  ./data/eic2015_27_csv.zip
  inflating: TR_PERSONA27.CSV
  inflating: TR_VIVIENDA27.CSV
Archive:  ./data/eic2015_28_csv.zip
  inflating: TR_PERSONA28.CSV
  inflating: TR_VIVIENDA28.CSV
Archive:  ./data/eic2015_29_csv.zip
  inflating: TR_PERSONA29.CSV
  inflating: TR_VIVIENDA29.CSV
Archive:  ./data/eic2015_30_csv.zip
  inflating: TR_PERSONA30.CSV
  inflating: TR_VIVIENDA30.CSV
Archive:  ./data/eic2015_31_csv.zip
  inflating: TR_PERSONA31.CSV
  inflating: TR_VIVIENDA31.CSV
Archive:  ./data/eic2015_32_csv.zip
  inflating: TR_PERSONA32.CSV
  inflating: TR_VIVIENDA32.CSV
  adding: data/TR_PERSONA01.CSV (deflated 90%)
  adding: data/TR_PERSONA02.CSV (deflated 88%)
  adding: data/TR_PERSONA03.CSV (deflated 89%)
  adding: data/TR_PERSONA04.CSV (deflated 89%)
  adding: data/TR_PERSONA05.CSV (deflated 90%)
  adding: data/TR_PERSONA06.CSV (deflated 89%)
  adding: data/TR_PERSONA07.CSV (deflated 91%)
  adding: data/TR_PERSONA08.CSV (deflated 90%)
  adding: data/TR_PERSONA09.CSV (deflated 88%)
  adding: data/TR_PERSONA10.CSV (deflated 90%)
  adding: data/TR_PERSONA11.CSV (deflated 90%)
  adding: data/TR_PERSONA12.CSV (deflated 91%)
  adding: data/TR_PERSONA13.CSV (deflated 90%)
  adding: data/TR_PERSONA14.CSV (deflated 90%)
  adding: data/TR_PERSONA15.CSV (deflated 89%)
  adding: data/TR_PERSONA16.CSV (deflated 90%)
  adding: data/TR_PERSONA17.CSV (deflated 89%)
  adding: data/TR_PERSONA18.CSV (deflated 90%)
  adding: data/TR_PERSONA19.CSV (deflated 89%)
  adding: data/TR_PERSONA20.CSV (deflated 91%)
  adding: data/TR_PERSONA21.CSV (deflated 90%)
  adding: data/TR_PERSONA22.CSV (deflated 90%)
  adding: data/TR_PERSONA23.CSV (deflated 89%)
  adding: data/TR_PERSONA24.CSV (deflated 90%)
  adding: data/TR_PERSONA25.CSV (deflated 89%)
  adding: data/TR_PERSONA26.CSV (deflated 89%)
  adding: data/TR_PERSONA27.CSV (deflated 90%)
  adding: data/TR_PERSONA28.CSV (deflated 89%)
  adding: data/TR_PERSONA29.CSV (deflated 90%)
  adding: data/TR_PERSONA30.CSV (deflated 91%)
  adding: data/TR_PERSONA31.CSV (deflated 90%)
  adding: data/TR_PERSONA32.CSV (deflated 90%)
/bin/sh: -c: line 0: syntax error near unexpected token `rm'
/bin/sh: -c: line 0: ` for z in ./data/eic2015_*.CSV; rm $z; done'

In [5]:
# (Optional) Remove original main files
! for z in ./data/eic2015_*.zip; do rm $z; done

# DEMO: Dataframe structure

This serves as a demo for the dataframe strcutre and operations needed to extract the mobility data.

In [6]:
df = pd.read_csv("./data/TR_PERSONA01.CSV.zip", compression='infer', encoding = "iso8859_15")
df

,ID_VIV,ID_PERSONA,ENT,NOM_ENT,MUN,NOM_MUN,LOC50K,NOM_LOC,COBERTURA,ESTRATO,...,HIJOS_NAC_VIVOS,HIJOS_FALLECIDOS,HIJOS_SOBREVIV,FECHA_NAC_M,FECHA_NAC_A,SOBREVIVENCIA,EDAD_MORIR_D,EDAD_MORIR_M,EDAD_MORIR_A,TAMLOC
0,10010000001,1001000000102,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,2,01-001-05,...,4.0,0.0,4.0,4.0,2009.0,1.0,NaN,NaN,NaN,5
1,10010000001,1001000000103,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,2,01-001-05,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
2,10010000001,1001000000104,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,2,01-001-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
3,10010000001,1001000000101,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,2,01-001-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
4,10010000002,1001000000206,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,2,01-001-06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177848,10110003666,1011000366601,1,Aguascalientes,11,San Francisco de los Romo,0,Localidad de menos de 50 mil habitantes,2,01-011-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
177849,10110003667,1011000366703,1,Aguascalientes,11,San Francisco de los Romo,0,Localidad de menos de 50 mil habitantes,2,01-011-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
177850,10110003667,1011000366704,1,Aguascalientes,11,San Francisco de los Romo,0,Localidad de menos de 50 mil habitantes,2,01-011-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
177851,10110003667,1011000366701,1,Aguascalientes,11,San Francisco de los Romo,0,Localidad de menos de 50 mil habitantes,2,01-011-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
177852,10110003667,1011000366702,1,Aguascalientes,11,San Francisco de los Romo,0,Localidad de menos de 50 mil habitantes,2,01-011-02,...,2.0,0.0,2.0,5.0,2008.0,1.0,NaN,NaN,NaN,3

In [7]:
df_key = pd.read_excel("./data_descriptors/eic2015_fd.xls", sheet_name = "TR_Persona", 
                       index_col = None, skiprows=4, encoding = "iso8859_15")
pd.set_option('display.max_rows', None)
df_key[['Cons.','Descripción', 'Mnemónico', 'Pregunta y categoría']].dropna()

,Cons.,Descripción,Mnemónico,Pregunta y categoría
2,1.0,Identificador único de la vivienda,ID_VIV,Identificador único de la vivienda
3,2.0,Identificador único de persona,ID_PERSONA,Identificador único de la persona
6,3.0,Clave de la Entidad Federativa,ENT,Entidad Federativa
7,4.0,Nombre de la entidad federativa,NOM_ENT,Nombre de la entidad federativa
8,5.0,Clave del Municipio o Delegación,MUN,Municipio o Delegación
9,6.0,Nombre del municipio o delegación,NOM_MUN,Nombre del municipio o delegación
10,7.0,Clave de la Localidad (sólo para localidades d...,LOC50K,Clave de la localidad de 50 000 y más habitantes
13,8.0,Nombre de la localidad (sólo para localidades ...,NOM_LOC,Nombre de la localidad
16,9.0,Tipo de cobertura en el municipio,COBERTURA,Tipo de cobertura en el municipio
20,10.0,Estrato,ESTRATO,Estrato
21,11.0,Unidad Primaria de Muestreo,UPM,Unidad Primaria de Muestreo
22,12.0,Factor de expansión,FACTOR,Factor de expansión
25,13.0,Número de persona,NUMPER,Número de persona
27,14.0,1. Sexo,SEXO,Sexo
30,15.0,2. Edad,EDAD,¿Cuántos años cumplidos tiene (NOMBRE)?
34,16.0,3. Parentesco (código),PARENT,¿Qué es (NOMBRE) de la (del) jefa(e)?
45,17.0,3. Parentesco (clave codificada),PARENT_OTRO_C,"Clave de ""otro parentesco"""
49,18.0,4. Identificación de la madre,IDENT_MADRE,¿Dónde vive la madre de (NOMBRE)?
55,19.0,5. Identificación del padre,IDENT_PADRE,¿Dónde vive el padre de (NOMBRE)?
61,20.0,6. Uso de servicios de salud,SERSALUD,"Cuando (NOMBRE) tiene problemas de salud, ¿en ..."
72,21.0,7. Afrodescendientes,AFRODES,"De acuerdo con su cultura, historia y tradicio..."
78,22.0,8. Acta de nacimiento,ACTA_NAC,¿(NOMBRE) tiene acta de nacimiento o está insc...
83,23.0,9. Afiliación a servicios de salud (primer opc...,DHSERSAL1,¿(NOMBRE) está afiliada(o) o tiene derecho a l...
93,24.0,9. Afiliación a servicios de salud (segunda op...,DHSERSAL2,¿(NOMBRE) está afiliada(o) o tiene derecho a l...
101,25.0,10. Pertenencia indígena,PERTE_INDIGENA,"De acuerdo con su cultura, ¿(NOMBRE) se consid..."
107,26.0,11. Entidad o país de nacimiento,ENT_PAIS_NAC,¿En qué estado de la República Mexicana o en q...
110,27.0,12. Nacionalidad,NACIONALIDAD,¿(NOMBRE) tiene nacionalidad mexicana?
114,28.0,13. Habla lengua indígena,HLENGUA,¿(NOMBRE) habla algún dialecto o lengua indígena?
119,29.0,14. Nombre de la lengua indígena,QDIALECT_C,¿Qué dialecto o lengua indígena habla (NOMBRE)?
123,30.0,14. Nombre de la lengua indígena,QDIALECT_INALI,¿Qué dialecto o lengua indígena habla?\n(catál...
127,31.0,15. Habla español,HESPANOL,¿(NOMBRE) habla también español?
132,32.0,16. Entiende lengua indígena,ELENGUA,¿(NOMBRE) entiende algún dialecto o\nlengua in...
137,33.0,17. Asistencia escolar,ASISTEN,¿(NOMBBRE) asiste actualmente a la escuela?
142,34.0,18. Municipio de asistencia escolar,MUN_ASI,¿En qué municipio o delegación está la escuela...
146,35.0,18. Municipio de asistencia escolar,NOM_MUN_ASI,Nombre del Municipio de asistencia escolar
149,36.0,19. Entidad o país de asistencia escolar,ENT_PAIS_ASI,¿En qué estado o país está la escuela donde es...
153,37.0,20. Tiempo de traslado a la escuela,TIE_TRASLADO_ESCU,¿Cuánto tiempo hace (NOMBRE) de aquí a su escu...
162,38.0,21. Medio de traslado a la escuela (opción 1),MED_TRASLADO_ESC1,¿Cómo acostumbra (NOMBRE) ir de aquí a su escu...
172,39.0,21. Medio de traslado a la escuela (opción 2),MED_TRASLADO_ESC2,¿Cómo acostumbra (NOMBRE) ir de aquí a su escu...
180,40.0,21. Medio de traslado a la escuela (opción 3),MED_TRASLADO_ESC3,¿Cómo acostumbra (NOMBRE) ir de aquí a su escu...
187,41.0,22. Escolaridad (grado),ESCOLARI,¿Cuál fue el último año o grado aprobado por (...
192,42.0,22. Escolaridad (nivel),NIVACAD,¿Cuál fue el último año o grado aprobado por (...
210,43.0,23. Alfabetismo,ALFABET,¿(NOMBRE) sabe leer y escribir un recado?
215,44.0,Escolaridad acumulada,ESCOACUM,Escolaridad acumulada
219,45.0,24. Municipio de residencia en 2010,MUN_RES10,"Hace 5 años, en marzo de 2010, ¿en qué municip..."
223,46.0,24. Municipio de residencia en 2010,NOM_MUN_RES10,Nombre del Municipio de residencia en 2010
226,47.0,25. Entidad o país de residencia en 2010,ENT_PAIS_RES10,¿En qué estado de la República Mexicana o en q...
230,48.0,26. Situación conyugal,SITUA_CONYUGAL,¿Actualmente (NOMBRE):
239,49.0,27. Identificación de la pareja (número de per...,IDENT_PAREJA,¿Dónde vive la pareja de (NOMBRE)?
245,50.0,Condición de actividad,CONACT,"Entonces, ¿la semana pasada:"
261,51.0,30. Nombre de la ocupación (clave codificada),OCUPACION_C,¿Cuál fue la ocupación de (NOMBRE) la semana p...
265,52.0,32. Posición en el trabajo,SITUACION_TRAB,¿En ese trabajo (NOMBRE) fue:
274,53.0,33. Prestaciones laborales (aguinaldo),AGUINALDO,¿(NOMBRE) tiene por su trabajo aguinaldo?
279,54.0,33. Prestaciones laborales (vacaciones),VACACIONES,¿(NOMBRE) tiene por su trabajo vacaciones con ...
284,55.0,33. Prestaciones laborales (servicio médico),SERVICIO_MEDICO,¿(NOMBRE) tiene por su trabajo servicio médico?
289,56.0,33. Prestaciones laborales (utilidades),UTILIDADES,¿(NOMBRE) tiene por su trabajo reparto de util...
294,57.0,33. Prestaciones laborales (incapacidad),INCAP_SUELDO,¿(NOMBRE) tiene por su trabajo licencia o inca...
299,58.0,33. Prestaciones laborales (ahorro),SAR_AFORE,¿(NOMBRE) tiene por su trabajo SAR o AFORE (ah...
304,59.0,33. Prestaciones laborales (crédito para vivie...,CREDITO_VIVIENDA,¿(NOMBRE) tiene por su trabajo crédito para vi...
309,60.0,34. Ingresos por trabajo mensualizado,INGTRMEN,¿Cuánto gana (NOMBBRE) por ese trabajo?
316,61.0,"36. Actividad del negocio, empresa o lugar (cl...",ACTIVIDADES_C,¿En dónde trabajó (NOMBRE) la semana pasada?
320,62.0,37. Municipio de trabajo,MUN_TRAB,¿En qué municipio o delegación está el negocio...
324,63.0,37. Municipio de trabajo,NOM_MUN_TRAB,Nombre del Municipio de trabajo
327,64.0,38. Entidad o país de trabajo,ENT_PAIS_TRAB,"¿En qué estado o país está el negocio, empresa..."
331,65.0,39. Tiempo de traslado al trabajo,TIE_TRASLADO_TRAB,¿Cuánto tiempo hace (NOMBRE) de aquí a su trab...
341,66.0,40. Medio de traslado al trabajo (opción 1),MED_TRASLADO_TRAB1,¿Cómo acostumbra (NOMBRE) ir de aquí a su trab...
351,67.0,40. Medio de traslado al trabajo (opción 2),MED_TRASLADO_TRAB2,¿Cómo acostumbra (NOMBRE) ir de aquí a su trab...
359,68.0,40. Medio de traslado al trabajo (opción 3),MED_TRASLADO_TRAB3,¿Cómo acostumbra (NOMBRE) ir de aquí a su trab...
366,69.0,41. Actividades sin pago,ACTI_SIN_PAGO1,"La semana pasada, sin recibir pago, ¿cuántas h..."
371,70.0,41 Actividades sin pago,ACTI_SIN_PAGO2,"La semana pasada, sin recibir pago, ¿cuántas h..."
376,71.0,41 Actividades sin pago,ACTI_SIN_PAGO3,"La semana pasada, sin recibir pago, ¿cuántas h..."
381,72.0,41 Actividades sin pago,ACTI_SIN_PAGO4,"La semana pasada, sin recibir pago, ¿cuántas h..."
386,73.0,41 Actividades sin pago,ACTI_SIN_PAGO5,"La semana pasada, sin recibir pago, ¿cuántas h..."
391,74.0,41 Actividades sin pago,ACTI_SIN_PAGO6,"La semana pasada, sin recibir pago, ¿cuántas h..."
396,75.0,41 Actividades sin pago,ACTI_SIN_PAGO7,"La semana pasada, sin recibir pago, ¿cuántas h..."
401,76.0,41 Actividades sin pago,ACTI_SIN_PAGO8,"La semana pasada, sin recibir pago, ¿cuántas h..."
406,77.0,42. Hijas(os) nacidas(os) vivas(os),HIJOS_NAC_VIVOS,"En total, ¿cuántas hijas e hijos que nacieron ..."
411,78.0,43. Hijas(os) fallecidas(os),HIJOS_FALLECIDOS,De las hijas e hijos que nacieron vivos de (NO...
415,79.0,44. Hijas(os) sobrevivientes,HIJOS_SOBREVIV,¿Cuántas de las hijas e hijos de (NOMBRE) vive...
419,80.0,45. Fecha de nacimiento (mes),FECHA_NAC_M,¿En qué mes y año nació la última hija o hijo ...
423,81.0,45. Fecha de nacimiento (año),FECHA_NAC_A,¿En qué mes y año nació la última hija o hijo ...
427,82.0,46. Sobrevivencia,SOBREVIVENCIA,"Esta última hija o hijo de (NOMBRE), ¿vive act..."
432,83.0,47. Edad al morir (días),EDAD_MORIR_D,¿Qué edad tenía cuando murió?
438,84.0,47. Edad al morir (meses),EDAD_MORIR_M,¿Qué edad tenía cuando murió?
442,85.0,47. Edad al morir (años),EDAD_MORIR_A,¿Qué edad tenía cuando murió?
447,86.0,Tamaño de localidad,TAMLOC,Tamaño de localidad

In [8]:
pd.reset_option('display.max_rows')

In [9]:
for i in range(len(df.columns)):
    print(i,df.columns[i])

0 ID_VIV
1 ID_PERSONA
2 ENT
3 NOM_ENT
4 MUN
5 NOM_MUN
6 LOC50K
7 NOM_LOC
8 COBERTURA
9 ESTRATO
10 UPM
11 FACTOR
12 NUMPER
13 SEXO
14 EDAD
15 PARENT
16 PARENT_OTRO_C
17 IDENT_MADRE
18 IDENT_PADRE
19 SERSALUD
20 AFRODES
21 ACTA_NAC
22 DHSERSAL1
23 DHSERSAL2
24 PERTE_INDIGENA
25 ENT_PAIS_NAC
26 NACIONALIDAD
27 HLENGUA
28 QDIALECT_C
29 QDIALECT_INALI
30 HESPANOL
31 ELENGUA
32 ASISTEN
33 MUN_ASI
34 NOM_MUN_ASI
35 ENT_PAIS_ASI
36 TIE_TRASLADO_ESCU
37 MED_TRASLADO_ESC1
38 MED_TRASLADO_ESC2
39 MED_TRASLADO_ESC3
40 ESCOLARI
41 NIVACAD
42 ALFABET
43 ESCOACUM
44 MUN_RES10
45 NOM_MUN_RES10
46 ENT_PAIS_RES10
47 SITUA_CONYUGAL
48 IDENT_PAREJA
49 CONACT
50 OCUPACION_C
51 SITUACION_TRAB
52 AGUINALDO
53 VACACIONES
54 SERVICIO_MEDICO
55 UTILIDADES
56 INCAP_SUELDO
57 SAR_AFORE
58 CREDITO_VIVIENDA
59 INGTRMEN
60 ACTIVIDADES_C
61 MUN_TRAB
62 NOM_MUN_TRAB
63 ENT_PAIS_TRAB
64 TIE_TRASLADO_TRAB
65 MED_TRASLADO_TRAB1
66 MED_TRASLADO_TRAB2
67 MED_TRASLADO_TRAB3
68 ACTI_SIN_PAGO1
69 ACTI_SIN_PAGO2
70 ACTI_SIN_PAGO3
71 ACTI_SIN_PAGO4
72 ACTI_SIN_PAGO5
73 ACTI_SIN_PAGO6
74 ACTI_SIN_PAGO7
75 ACTI_SIN_PAGO8
76 HIJOS_NAC_VIVOS
77 HIJOS_FALLECIDOS
78 HIJOS_SOBREVIV
79 FECHA_NAC_M
80 FECHA_NAC_A
81 SOBREVIVENCIA
82 EDAD_MORIR_D
83 EDAD_MORIR_M
84 EDAD_MORIR_A
85 TAMLOC

The data we are interested in are:

State and municipilty of residence:
* 2 ENT
* 3 NOM_ENT
* 4 MUN
* 5 NOM_MUN

State and municipilty for school:
* 33 MUN_ASI
* 34 NOM_MUN_ASI
* 35 ENT_PAIS_ASI

State and municipilty for work:
* 61 MUN_TRAB
* 62 NOM_MUN_TRAB
* 63 ENT_PAIS_TRAB

To extract work mobility data we need:

# DEMO: Data processing

In [10]:
# 2 ENT
# 3 NOM_ENT
# 4 MUN
# 5 NOM_MUN

# 61 MUN_TRAB
# 62 NOM_MUN_TRAB
# 63 ENT_PAIS_TRAB

df_work = df[list(df.columns[2:6])+list(df.columns[61:64])].dropna().astype('int',errors='ignore')
df_work

,ENT,NOM_ENT,MUN,NOM_MUN,MUN_TRAB,NOM_MUN_TRAB,ENT_PAIS_TRAB
3,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1
10,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1
12,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1
15,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1
17,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1
...,...,...,...,...,...,...,...
177846,1,Aguascalientes,11,San Francisco de los Romo,1,Aguascalientes,1
177847,1,Aguascalientes,11,San Francisco de los Romo,1,Aguascalientes,1
177848,1,Aguascalientes,11,San Francisco de los Romo,1,Aguascalientes,1
177851,1,Aguascalientes,11,San Francisco de los Romo,1,Aguascalientes,1
177852,1,Aguascalientes,11,San Francisco de los Romo,11,San Francisco de los Romo,1

In [11]:
# We create an edge list dataframe with the state-municipality code.
# This codes corresponnd with the "TC_MUNICIPIO_2015.xls" file. 
# This file is found in "eic2015_catalogos.zip" in the data descriptors folder.

df_od_work = pd.DataFrame()
df_od_work['origin_id'] = df_work["ENT"].astype('str').str.zfill(3)+"-"+df_work["MUN"].astype('str').str.zfill(3)
df_od_work['destine_id'] = df_work["ENT_PAIS_TRAB"].astype('str').str.zfill(3)+"-"+df_work["MUN_TRAB"].astype('str').str.zfill(3)

# This include the names of states and municipalities
#df_od_work['origin_name'] = df_work["NOM_ENT"].astype('str')+"-"+df_work["NOM_MUN"].astype('str')
#df_od_work['destine_name'] = df_work["ENT_PAIS_TRAB"].astype('str').str.zfill(3)+"-"+df_work["NOM_MUN_TRAB"].astype('str')

df_od_work['weight'] = 1
df_od_work = df_od_work.groupby(list(df_od_work.columns[0:2])).sum().reset_index()
df_od_work

    origin_id destine_id  weight
0     001-001    001-001   21235
1     001-001    001-002      16
2     001-001    001-003      21
3     001-001    001-005     190
4     001-001    001-006      29
..        ...        ...     ...
484   001-011    032-035       2
485   001-011    032-036       1
486   001-011    032-056       9
487   001-011    032-999       1
488   001-011    999-999      33

[489 rows x 3 columns]

# MAIN
Here we process the data for all states. It doesn't look elegant but it was the best way I found in order to reduce memory consumption in my small laptop. Otherwise it crashes.

In [12]:
df1 = pd.read_csv("./data/TR_PERSONA01.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 1")
df2 = pd.read_csv("./data/TR_PERSONA02.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 2")
df3 = pd.read_csv("./data/TR_PERSONA03.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 3")
df4 = pd.read_csv("./data/TR_PERSONA04.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 4")
df5 = pd.read_csv("./data/TR_PERSONA05.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 5")
df6 = pd.read_csv("./data/TR_PERSONA06.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 6")
df7 = pd.read_csv("./data/TR_PERSONA07.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 7")
df8 = pd.read_csv("./data/TR_PERSONA08.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 8")
df9 = pd.read_csv("./data/TR_PERSONA09.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 9")
df10 = pd.read_csv("./data/TR_PERSONA10.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 10")
df11 = pd.read_csv("./data/TR_PERSONA11.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 11")
df12 = pd.read_csv("./data/TR_PERSONA12.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 12")
df13 = pd.read_csv("./data/TR_PERSONA13.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 13")
df14 = pd.read_csv("./data/TR_PERSONA14.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 14")
df15 = pd.read_csv("./data/TR_PERSONA15.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 15")
df16 = pd.read_csv("./data/TR_PERSONA16.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 16")
df17 = pd.read_csv("./data/TR_PERSONA17.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 17")
df18 = pd.read_csv("./data/TR_PERSONA18.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 18")
df19 = pd.read_csv("./data/TR_PERSONA19.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 19")
df20 = pd.read_csv("./data/TR_PERSONA20.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 20")
df21 = pd.read_csv("./data/TR_PERSONA21.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 21")
df22 = pd.read_csv("./data/TR_PERSONA22.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 22")
df23 = pd.read_csv("./data/TR_PERSONA23.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 23")
df24 = pd.read_csv("./data/TR_PERSONA24.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 24")
df25 = pd.read_csv("./data/TR_PERSONA25.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 25")
df26 = pd.read_csv("./data/TR_PERSONA26.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 26")
df27 = pd.read_csv("./data/TR_PERSONA27.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 27")
df28 = pd.read_csv("./data/TR_PERSONA28.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 28")
df29 = pd.read_csv("./data/TR_PERSONA29.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 29")
df30 = pd.read_csv("./data/TR_PERSONA30.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 30")
df31 = pd.read_csv("./data/TR_PERSONA31.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 31")
df32 = pd.read_csv("./data/TR_PERSONA32.CSV.zip", compression='infer', encoding = "iso8859_15"); print("Done 32")

Done 1
Done 2
Done 3
Done 4
Done 5
Done 6
Done 7
Done 8
Done 9
Done 10
Done 11
Done 12
Done 13
Done 14
Done 15
Done 16
Done 17
Done 18
Done 19
Done 20
Done 21
Done 22
Done 23
Done 24
Done 25
Done 26
Done 27
Done 28
Done 29
Done 30
Done 31
Done 32

## Work Mobility

In [13]:
# Here we just extract the data we need:
# 2 ENT
# 3 NOM_ENT
# 4 MUN
# 5 NOM_MUN

# 61 MUN_TRAB
# 62 NOM_MUN_TRAB
# 63 ENT_PAIS_TRAB

my_columns = list(df1.columns[2:6])+list(df1.columns[61:64])
my_work_frames = [df1[my_columns],
             df2[my_columns],
             df3[my_columns],
             df4[my_columns],
             df5[my_columns],
             df6[my_columns],
             df7[my_columns],
             df8[my_columns],
             df9[my_columns],
             df10[my_columns],
             df11[my_columns],
             df12[my_columns],
             df13[my_columns],
             df14[my_columns],
             df15[my_columns],
             df16[my_columns],
             df17[my_columns],
             df18[my_columns],
             df19[my_columns],
             df20[my_columns],
             df21[my_columns],
             df22[my_columns],
             df23[my_columns],
             df24[my_columns],
             df25[my_columns],
             df26[my_columns],
             df27[my_columns],
             df28[my_columns],
             df29[my_columns],
             df30[my_columns],
             df31[my_columns],
             df32[my_columns]]

In [14]:
# We concatenate the dataframes
df_work = pd.DataFrame()
df_work = pd.concat(my_work_frames, ignore_index=True).dropna().astype('int',errors='ignore')
df_work

,ENT,NOM_ENT,MUN,NOM_MUN,MUN_TRAB,NOM_MUN_TRAB,ENT_PAIS_TRAB
3,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1
10,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1
12,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1
15,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1
17,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1
...,...,...,...,...,...,...,...
22692247,32,Zacatecas,58,Santa María de la Paz,58,Santa María de la Paz,32
22692250,32,Zacatecas,58,Santa María de la Paz,58,Santa María de la Paz,32
22692251,32,Zacatecas,58,Santa María de la Paz,58,Santa María de la Paz,32
22692254,32,Zacatecas,58,Santa María de la Paz,58,Santa María de la Paz,32
22692259,32,Zacatecas,58,Santa María de la Paz,47,Teúl de González Ortega,32

In [15]:
# We create the edge list dataframes at the municipality level
df_work_mun = pd.DataFrame()
df_work_mun['origin_id'] = (df_work["ENT"].astype('str').str.zfill(3)+"-"+df_work["MUN"].astype('str').str.zfill(3))
df_work_mun['destine_id'] = (df_work["ENT_PAIS_TRAB"].astype('str').str.zfill(3)+"-"+df_work["MUN_TRAB"].astype('str').str.zfill(3))

df_work_mun['weight'] = 1
df_work_mun = df_work_mun.groupby(list(df_work_mun.columns[0:2])).sum().reset_index()
df_work_mun

      origin_id destine_id  weight
0       001-001    001-001   21235
1       001-001    001-002      16
2       001-001    001-003      21
3       001-001    001-005     190
4       001-001    001-006      29
...         ...        ...     ...
93970   032-058    032-047      17
93971   032-058    032-048       5
93972   032-058    032-051       1
93973   032-058    032-058     507
93974   032-058    999-999      11

[93975 rows x 3 columns]

In [16]:
df_work_mun.to_csv('work_mob_mx_mun.csv',index=False, header=True)

In [17]:
# This does the same but for state level
df_work_st = pd.DataFrame()
df_work_st['origin_id'] = df_work["ENT"].astype('str').str.zfill(3)
df_work_st['destine_id'] = df_work["ENT_PAIS_TRAB"].astype('str').str.zfill(3)

df_work_st['weight'] = 1
df_work_st = df_work_st.groupby(list(df_work_st.columns[0:2])).sum().reset_index()
df_work_st

    origin_id destine_id  weight
0         001        001   62023
1         001        002       5
2         001        003       2
3         001        004       1
4         001        005      13
..        ...        ...     ...
981       032        027       2
982       032        028      31
983       032        030      11
984       032        032  123345
985       032        999    1828

[986 rows x 3 columns]

In [18]:
df_work_st.to_csv('work_mob_mx_st.csv',index=False, header=True)

## School Mobility
We repeat the same steps as before.

In [19]:
# Here we just extract the data we need:
# 2 ENT
# 3 NOM_ENT
# 4 MUN
# 5 NOM_MUN

# 33 MUN_ASI
# 34 NOM_MUN_ASI
# 35 ENT_PAIS_ASI

my_columns = list(df1.columns[2:6])+list(df1.columns[33:36])
my_school_frames = [df1[my_columns],
             df2[my_columns],
             df3[my_columns],
             df4[my_columns],
             df5[my_columns],
             df6[my_columns],
             df7[my_columns],
             df8[my_columns],
             df9[my_columns],
             df10[my_columns],
             df11[my_columns],
             df12[my_columns],
             df13[my_columns],
             df14[my_columns],
             df15[my_columns],
             df16[my_columns],
             df17[my_columns],
             df18[my_columns],
             df19[my_columns],
             df20[my_columns],
             df21[my_columns],
             df22[my_columns],
             df23[my_columns],
             df24[my_columns],
             df25[my_columns],
             df26[my_columns],
             df27[my_columns],
             df28[my_columns],
             df29[my_columns],
             df30[my_columns],
             df31[my_columns],
             df32[my_columns]]

In [20]:
# We concatenate the dataframes
df_school = pd.DataFrame()
df_school = pd.concat(my_school_frames, ignore_index=True).dropna().astype('int',errors='ignore')
df_school

,ENT,NOM_ENT,MUN,NOM_MUN,MUN_ASI,NOM_MUN_ASI,ENT_PAIS_ASI
1,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1
2,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1
4,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1
5,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1
6,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1
...,...,...,...,...,...,...,...
22692248,32,Zacatecas,58,Santa María de la Paz,104,Totatiche,14
22692249,32,Zacatecas,58,Santa María de la Paz,58,Santa María de la Paz,32
22692252,32,Zacatecas,58,Santa María de la Paz,58,Santa María de la Paz,32
22692253,32,Zacatecas,58,Santa María de la Paz,58,Santa María de la Paz,32
22692262,32,Zacatecas,58,Santa María de la Paz,58,Santa María de la Paz,32

In [21]:
# We create the edge list dataframes at the municipality level
df_school_mun = pd.DataFrame()
df_school_mun['origin_id'] = df_school["ENT"].astype('str').str.zfill(3)+"-"+df_school["MUN"].astype('str').str.zfill(3)
df_school_mun['destine_id'] = df_school["ENT_PAIS_ASI"].astype('str').str.zfill(3)+"-"+df_school["MUN_ASI"].astype('str').str.zfill(3)

df_school_mun['weight'] = 1
df_school_mun = df_school_mun.groupby(list(df_school_mun.columns[0:2])).sum().reset_index()
df_school_mun

      origin_id destine_id  weight
0       001-001    001-001   15562
1       001-001    001-002       4
2       001-001    001-005      47
3       001-001    001-006       6
4       001-001    001-007       4
...         ...        ...     ...
41358   032-058    032-047       8
41359   032-058    032-048       6
41360   032-058    032-056       3
41361   032-058    032-058     492
41362   032-058    999-999      63

[41363 rows x 3 columns]

In [22]:
df_school_mun.to_csv('school_mob_mx_mun.csv',index=False, header=True)

In [23]:
# We create the edge list dataframes at the state level
df_school_st = pd.DataFrame()
df_school_st['origin_id'] = df_school["ENT"].astype('str').str.zfill(3)
df_school_st['destine_id'] = df_school["ENT_PAIS_ASI"].astype('str').str.zfill(3)

df_school_st['weight'] = 1
df_school_st = df_school_st.groupby(list(df_school_st.columns[0:2])).sum().reset_index()
df_school_st

    origin_id destine_id  weight
0         001        001   52787
1         001        009      14
2         001        010       2
3         001        011      16
4         001        013       1
..        ...        ...     ...
709       032        028       2
710       032        029       1
711       032        030       1
712       032        032  129099
713       032        999    5614

[714 rows x 3 columns]

In [24]:
df_school_st.to_csv('school_mob_mx_st.csv',index=False, header=True)

## Edge lists
This is an additional optionnal step to remove the "999" entries, which correspond to "Not epecified".

In [ ]:
work_mob = pd.read_csv("work_mobility_mx.csv")

In [ ]:
work_mob[~work_mob['destine_id'].str.contains("999")].sort_values(by='destine_id')

In [ ]:
school_mob = pd.read_csv("school_mobility_mx.csv")

In [ ]:
school_mob[~school_mob['destine_id'].str.contains("999")].sort_values(by='destine_id')